<div class="sub_navigation">
	<%= link_to(image_tag("icon_back.png", :class => 'image-link') + raw('<span class="text">Zurück</span>'), '/admin/seasons/') %>
	<span class="spacer">|</span>
	<%= link_to(image_tag("icon_show.png", :class => 'image-link') + raw('<span class="text">Anzeigen</span>'), '/admin/seasons/' + @season.id.to_s) %> 
</div>
<div class="content">
	<h1>Staffel bearbeiten</h1>

	<%= render 'form' %>
</div>
