<div class="content">
  <h1>Admin</h1>
  <%= link_to(image_tag("icon_show_inv.png", :class => 'image-link') + raw('<span class="text-inv">Alle Staffeln</span>'), '/admin/seasons') %>
  <br>
  <br>
  <%= link_to(image_tag("icon_show_inv.png", :class => 'image-link') + raw('<span class="text-inv">Alle Folgen</span>'), '/admin/episodes') %>
</div>
