<div class="sub_navigation">
  <span class="text">Übersicht</span>
</div>
<div class="content">
  <a href="/rates"><div id="rate"><h3 class="text">Bewerten</h3></div></a>
  <a href="/searchs"><div id="search"><h3 class="text">Suchen</h3></div></a>

</div>
