<div class="bg"></div>
<div class="bottom_banner">
	<a href="/rates/">
		<div id="rate">
			<%= image_tag("icon_rate_inv.png", :class => 'image-link') + raw('<span class="text-inv">Bewerten</span>') %>
		</div>
	</a>
	<a href="/searchs/">
		<div id="search">
			<%= image_tag("icon_show_inv.png", :class => 'image-link') + raw('<span class="text-inv">Suchen</span>') %>
		</div>
	</a>
</div>