<div class="sub_navigation">
  <%= link_to(image_tag("icon_back.png", :class => 'image-link') + raw('<span class="text">Zurück</span>'), '/admin/authors/') %>
</div>
<div class="content">
	<h1>Neuer Autor</h1>

	<%= render 'form' %>
</div>