<div class="sub_navigation">
	<%= link_to(image_tag("icon_back_inv.png", :class => 'image-link') + raw('<span class="text-inv">Zurück</span>'), '/admin/episodes/') %>
	<span class="spacer">|</span>
	<%= link_to(image_tag("icon_show_inv.png", :class => 'image-link') + raw('<span class="text-inv">Anzeigen</span>'), '/admin/episodes/' + @episode.id.to_s) %> 
</div>
<div class="content">
	<h1>Folge bearbeiten</h1>

	<%= render 'form' %>
</div>
